{% for data_file in site.data %}
  {% assign content = data_file[1] %}
  {% assign requirements_statement_found = false %}
  {% assign requirements_extensions = nil %}



  {% if content.code.coding[0].code == "Requirements" %}
  {% for ext in content.extension %}
    {% if ext.url == "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.title" %}
    <h3>{{ext.valueString}}</h3>
    {% endif %}
{% endfor %}    

<div>
<table class="table table-bordered">
<thead class="thead-dark">
          <tr>
            <th>Key</th>
            <th>Requirement</th>
          </tr>
        </thead>
        <tbody>

  {% for ext in content.extension %}
    {% if ext.url == "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement" %}
<tr>
          {% for statement in ext.extension %}

            
            {% if statement.url == "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement.key" %}
<td>{{ statement.valueId }}</td>
            {% endif %}

            {% if statement.url == "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement.requirement" %}
<td>{{ statement.valueMarkdown | markdownify}}</td>
            {% endif %}
            
          {% endfor %}
</tr>
    {% endif %}
{% endfor %}
        </tbody>
      </table>
</div>
<br> <!-- Adding a break between tables for visual separation -->



    {% endif %}
{% endfor %}
