

{% assign actorstub = "ActorDefinition-" | append: actordefinition.id %}
{% assign canonicals = site.data.canonicals | where: 'type' , 'Requirements' %}

This actor fulfills the following requirements:
<ul>
  {% for canonical in canonicals %}
    {% assign stub = canonical.type | append: "-" | append: canonical.id %}
    {% assign requirement = site.data[stub] %}
    {% assign reqactors =  requirement.actor %}
    {% for reqactor in reqactors %}
      {% assign reqactorcanonical = reqactor | split: "/" | last   %}
      {% assign reqactorstub = "ActorDefinition-" | append: reqactorcanonical %}
      {% unless reqactorstub != actorstub %}
        {% assign reqtitle = requirement.title %}
        <li>
          <b><a href="Requirements-{{requirement.id}}.html">{{ reqtitle | escape }}</a></b>
        </li>
      {% endunless %}
    {% endfor %}
  {% endfor %}
</ul>
