


{% assign capes = actordefinition.extension | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.capabilities" %}
 

{% unless capes == empty or capes == nil %}
This actor fufills the following capabilities:
<ul>	  
  {% for cape in capes %}
  <li>
    {% assign capeinstance = cape.valueCanonical | split: "/" | last  | split: ".html" | first | replace: "." , "" %}
    {% assign capestub = "CapabilityStatement-" | append: capeinstance  %}

    {% assign capestatement = site.data[capestub] %}
    {% include capabilitystatement-short-summary.liquid site=site capestatement=capestatement  %}
  </li>
  {% endfor %}
</ul>
{% endunless %}
