

{% assign title = capestatement.title %}
{% assign descr = capestatement.description %}


<b><a href="CapabilityStatement-{{capestatement.id}}.html">{{title}} </a></b>:{{descr | markdownify}}


