
{% assign statements = requirement.extension | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement' %}
{% unless statements == empty or statements == nil %}
Steps in the requirement:
<ol>
 {% for statement in statements %}
 <li>
   {% assign stmtkey = statement.extension
     | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement.key'
     | map: 'valueId' | first  %}
   {% assign stmtconformance = statement.extension
     | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement.conformance'
     | map: 'valueCode' | first  %}
   {% assign stmtlabel = statement.extension
     | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement.label'
     | map: 'valueString' | first  %}	    
   {% assign stmtrequirement = statement.extension
     | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.statement.requirement'
     | map: 'valueMarkdown' | first  | markdownify %}	    
   <b>
     {% unless stmtconformance == empty or stmtconformance == nil %}  
       <a href="https://hl7.org/fhir/R5//codesystem-conformance-expectation.html#content">
         {{ stmtconformance  }}
       </a> -
     {% endunless %}
     {{ stmtlabel }}
   </b>:
   {{ stmtrequirement }}
 </li>
 {% endfor %}
</ol>
{% endunless %}
