


{% assign title = requirement.extension | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.title" | first %}

{% assign description = requirement.extension | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.description" | first %}

<b><a href="Requirements-{{requirement.id}}.html">{{title.valueString}}</a></b>:{{description.valueMarkdown | markdownify}}

{% include requirements-list-statements.liquid site=site requirement=requirement %}
